@import 'responsive-catalogo';

$color-blanco: #fff;
$color-celeste: #B0DAFF;
.box-oferta-catalogo{
    display: block;
    background-color: $color-celeste;
    box-sizing: content-box;
    height: 110px;
    border: solid $color-celeste;
    @include mediano2{
      width: 910px;
   }
    @include mediano{
        width: 775px;
        height: 100px;
     }
     @include pequeño{
        width: 382px;
        height: 70px;
     }
    .frase-catalogo{
        display: flex;
        justify-content: center; 
        margin-top: 35px;   
        color: $color-blanco;
    }
     @include pequeño{
        font-size: small;

     }
}
.ubicacion-catalogo{
    display: flex;
    justify-content: space-around;
    .box-catalogo{
        background-color: $color-celeste;
        box-sizing: content-box;
        height: 300px;
        width: 170px ;
        padding: 10px;
        margin: 25px;
        @include mediano2{
         height: 250px;
         width: 150px ;
         padding: 7px;
         margin: 20px;
      }
       @include mediano{
         height: 200px;
         width: 100px ;
         padding: 5px;
         margin: 10px;
        }
        @include pequeño{
         height: 90px;
         width: 45px ;
         padding: 3px;
         margin: 5px;
         margin-left:1px ;
        }
        .pequeña{
         width: 170px;
         height: 200px;
         @include mediano2(){
            width: 140px;
            height: 170px;
         }
         @include mediano{
            width: 100px;
            height: 140px;
         }
         @include pequeño{
            width: 45px;
            height: 45px;
         }
    
        }
        .descripcion-catalogo{
            display: flex;
            justify-content: center;
            margin:15px;
            font-size: medium;
            color: $color-blanco;
            @include mediano{
                font-size: small;
                margin: 5px;
             }
             @include pequeño{
                font-size: xx-small;
                margin: 3px;
             }
        }
    }
}



